.dialog-box {
  border: 3px solid black;
  padding: 10px;
  background: white;
  box-shadow: 5px 5px 0px 0px black;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  height: 110px;
}

.dialog-box::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(5px, 5px);
}

.dialog-box::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: transparent;
  z-index: 20;
}

.delay-1 {
  animation-delay: 0.3s;
}
